<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNf6xBOa3pk30zT_oH_0w-nh9P_CwgZkc</string>
	<key>GCM_SENDER_ID</key>
	<string>149066493429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>solutions.l2t.pocketbook</string>
	<key>PROJECT_ID</key>
	<string>pocketbook-75861</string>
	<key>STORAGE_BUCKET</key>
	<string>pocketbook-75861.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149066493429:ios:29b5fb6c10eb2d012904bc</string>
	<key>DATABASE_URL</key>
	<string>https://pocketbook-75861-default-rtdb.firebaseio.com</string>
</dict>
</plist>